// car-rent-platform/src/components/cars/CarFeatures/CarFeatures.scss

@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;


.car-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 30px;
}

.car-feature {
  display: flex;
  align-items: center;
  gap: 10px;

  color: $color-text-secondary;

  font-size: 13px;

  span {
    display: grid;
    place-items: center;

    width: 23px;
    height: 23px;

    flex-shrink: 0;

    border-radius: 50%;

    background: rgba(199, 255, 61, 0.08);
    color: $color-accent;
  }
}

@include mobile {
  .car-features {
    grid-template-columns: 1fr;
  }
}